<% include ../partials/header %>
<section class="ui basic segment">

  <header>
    <h1>Progressively Enhanced Forms | Vue</h1>
  </header>

  <main class="ui two column grid ">
    <div class="column">
      <form class="ui form column" action="/" method="GET">
        <p>
          A progressively enhanced form using Vue
        </p>

        <%- include('../partials/field', {label: 'Your Name', name: 'name', type: 'text', required: true, validationErrors: validationErrors})  %>
        <%- include('../partials/field', {label: 'Your Email Address', name: 'email', type: 'email', required: false, validationErrors: validationErrors})  %>
        <%- include('../partials/field', {label: 'Start Date', name: 'start_date', type: 'date', required: true, validationErrors: validationErrors})  %>
        <%- include('../partials/field', {label: 'End Date', name: 'end_date', type: 'date', required: true, validationErrors: validationErrors})  %>

        <input type="submit" class="ui button" value="Submit">
      </form>
      <% if (body) { %>
      <p>
        Results:
      </p>
      <pre><%= util.inspect(body, {depth: null}); %></pre>

      <% } %>
    </div>
    <div class="column">
      <form class="ui form" action="#">
        <p>
          This is a second form that doens't get submitted to the server but shows two Vue apps working on the same page.
        </p>
        <%- include('../partials/field', {label: 'street', name: 'street', type:'text', required: false, validationErrors: {}})  %>
        <%- include('../partials/field', {label: 'extended', name: 'extended', type:'text', required: false, validationErrors: {}})  %>
        <%- include('../partials/field', {label: 'city', name: 'city', type:'text', required: false, validationErrors: {}})  %>
        <%- include('../partials/field', {label: 'state', name: 'state', type:'text', required: false, validationErrors: {}})  %>
        <%- include('../partials/field', {label: 'zip', name: 'zip', type:'text', required: false, validationErrors: {}})  %>
        <%- include('../partials/field', {label: 'country', name: 'country', type:'text', required: false, validationErrors: {}})  %>

        <div class="adr">
          <div class="street-address">{{street}}</div>
          <div class="extended-address">{{extended}}</div>
          <span class="locality">{{city}}</span><template  v-if="city&&(state||zip)">,</template>
          <span class="region">{{state}}</span>
          <span class="postal-code">{{zip}}</span>
          <div class="country-name">{{country}}</div>
        </div>
      </form>
    </div>
  </main>

</section>
<% include ../partials/footer %>
