<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Progressively Enhanced Forms | Vue</title>
    <meta name="description" content="Progressively Enhanced Forms | Vue">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://provider.urbandoor.com/assets/ui/main-6430bdc576261e61a82d583daedd8d78f46ebcd6ff62c864235ddd614436c2bd.css">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>
    <script>
      Vue.use(VeeValidate);
    </script>
  </head>
  <body class="ud-app">
    <div class="ud-page">
      <div class="ui fluid card ud-page-section">
        <div class="content">
          <div class="ui grid">
            <div class="ten wide computer ten wide large screen ten wide mobile ten wide tablet ten wide widescreen column">
              <section class="ui basic segment">

              <header>
                <h1>Progressively Enhanced Forms | Vue</h1>
              </header>

              <main class="ui two column grid ">
                <div class="column">
                  <form class="ui form column" action="/" method="GET">
                    <p>
                      A progressively enhanced form using Vue
                    </p>
                    <div class="field">
                      <label for="name">Your Name</label>
                      <input required name="name" id="name" value="<%= body && body.name %>">
                      <% if (validationErrors && validationErrors.name) { %>
                      <div class="error">
                        <%= validationErrors.name %>
                      </div>
                      <% } %>
                    </div>

                    <div class="field">
                      <label for="email">Your Email Address</label>
                      <input type="email" name="email" id="email" value="<%= body && body.email %>">
                      <% if (validationErrors && validationErrors.email) { %>
                      <div class="error">
                        <%= validationErrors.email %>
                      </div>
                      <% } %>
                    </div>

                    <div class="field">
                      <label for="start_date">Start Date</label>
                      <input required type="date" name="start_date" id="start_date" value="<%= body && body.start_date %>">
                      <% if (validationErrors && validationErrors.start_date) { %>
                      <div class="error">
                        <%= validationErrors.start_date %>
                      </div>
                      <% } %>
                    </div>

                    <div class="field">
                      <label for="end_date">End Date</label>
                      <input required type="date" name="end_date" id="end_date" value="<%= body && body.end_date %>">
                      <% if (validationErrors && validationErrors.end_date) { %>
                      <div class="error">
                        <%= validationErrors.end_date %>
                      </div>
                      <% } %>
                    </div>

                    <input type="submit" class="ui button" value="Submit">
                  </form>
                  <% if (body) { %>
                  <p>
                    Results:
                  </p>
                  <pre><%= util.inspect(body, {depth: null}); %></pre>

                  <% } %>
                </div>
                <div class="column">
                  <form class="ui form" action="#">
                    <p>
                      This is a second form that doens't get submitted to the server but shows two Vue apps working on the same page.
                    </p>
                    <input name="street" placeholder="street">
                    <input name="extended" placeholder="extended">
                    <input name="city" placeholder="city">
                    <input name="state" placeholder="state">
                    <input name="zip" placeholder="zip">
                    <input name="country" placeholder="country">

                    <div class="adr">
                      <div class="street-address">{{street}}</div>
                      <div class="extended-address">{{extended}}</div>
                      <span class="locality">{{city}}</span><template  v-if="city&&(state||zip)">,</template>
                      <span class="region">{{state}}</span>
                      <span class="postal-code">{{zip}}</span>
                      <div class="country-name">{{country}}</div>
                    </div>
                  </form>
                </div>
              </main>

              <footer>
                Made with <a href="https://glitch.com">Glitch</a>!
              </footer>

              </section>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js"></script>

  </body>
</html>
